indecision-app/node_modules

expensify-app/node_modules
expensify-app/public/bundle.js
expensify-app/public/bundle.js.map
expensify-app/public/styles.css
expensify-app/public/styles.css.map
indecision-app/public/scripts/app.js
*.xml
*.iml
expensify-app/.DS_Store
expensify-app/public/.DS_Store
